html, body{
    height: 100%;
    margin: 0;
}
img{
    width: 100%;
}
.ak-container{
    max-width: 95%;
    margin: 0 auto;
}
:root{
    --avatar-width: 70px;
    --range-color: #FFB923;
    --orange: #C45500;
    --range-height:5px;
    --m-font-size: 13px;
}
@font-face {
    font-family: "iransans";
    src: url("/static/fonts/IranSansRegular.woff2") format("woff2");
  }
@font-face {
    font-family: "iransansr";
    src: url("/static/fonts/IRANSansWeb.woff2") format("woff2");
  }
@font-face {
    font-family: "iransansb";
    src: url("/static/fonts/IRANSansWeb_Bold.woff2") format("woff2");
  }
@font-face {
    font-family: "iransansm";
    src: url("/static/fonts/IRANSansWeb_Medium.woff2") format("woff2");
  }
@font-face {
    font-family: "vazir";
    src: url("/static/fonts/Vazir-Medium.woff2") format("woff2");
  }
*{
    font-family: vazir;
    box-sizing: border-box;
}
.ak-c--1{ width: calc(100% / 12 * 1); }
.ak-c--2{ width: calc(100% / 12 * 2); }
.ak-c--3{ width: calc(100% / 12 * 3); }
.ak-c--4{ width: calc(100% / 12 * 4); }
.ak-c--5{ width: calc(100% / 12 * 5); }
.ak-c--6{ width: calc(100% / 12 * 6); }
.ak-c--7{ width: calc(100% / 12 * 7); }
.ak-c--8{ width: calc(100% / 12 * 8); }
.ak-c--9{ width: calc(100% / 12 * 9); }
.ak-c--10{ width: calc(100% / 12 * 10); }
.ak-c--11{ width: calc(100% / 12 * 11); }
.ak-c--12{ width: calc(100% / 12 * 12); }
.ak-text-center{
    text-align: center;
}
.ak-d-block{
    display: block;
}
.ak-d-flex{
    display: flex;
}
.ak-justify-center{
    justify-content: center;
}
.ak-justify-between{
    justify-content: space-between;
}
.ak-align-center{
    align-items:center;
}
.ak-d-none{
    display: none;
}
.ak-bg-white{
    background-color: white !important;
}
.ak-main{
    background-color: #F2F3F7;
}
.ak-container-full{
    width: 100%;
    padding: 16px;
}

.ak-color-red{
    color: red !important;
}
.ak-color-blue{
    color: #007185 !important;
}
.ak-color-orange{
    color: var(--orange) !important;
}
.ak-color-black-50{
    color: #0007 !important;
}
.ak-link {
    text-decoration: none;
    color: unset;
}
.ak-m-0{margin: 0 !important;}
.ak-mt-0{    margin-top: 0px !important; }
.ak-mt-1{    margin-top: 8px !important; }
.ak-mt-2{    margin-top: 12px !important; }
.ak-mt-3{    margin-top: 16px !important; }
.ak-mt-4{    margin-top: 20px !important; }
.ak-mb-0{    margin-bottom: 0px !important; }
.ak-mb-1{    margin-bottom: 8px !important; }
.ak-mb-2{    margin-bottom: 12px !important; }
.ak-mb-3{    margin-bottom: 16px !important; }
.ak-mb-4{    margin-bottom: 20px !important; }
.ak-mr-0{    margin-right: 0px !important; }
.ak-mr-1{    margin-right: 8px !important; }
.ak-mr-2{    margin-right: 12px !important; }
.ak-mr-3{    margin-right: 16px !important; }
.ak-mr-4{    margin-right: 20px !important; }
.ak-mr-auto{    margin-right: auto !important; }
.ak-ml-0{    margin-left: 0px !important; }
.ak-ml-1{    margin-left: 8px !important; }
.ak-ml-2{    margin-left: 12px !important; }
.ak-ml-3{    margin-left: 16px !important; }
.ak-ml-4{    margin-left: 20px !important; }
.ak-ml-auto{    margin-left: auto !important; }
.ak-my-0{    margin-top: 0px !important; margin-bottom: 0px !important;}
.ak-my-1{    margin-top: 8px !important;    margin-bottom: 8px !important;}
.ak-my-2{    margin-top: 12px !important;margin-bottom: 12px !important;}
.ak-my-3{    margin-top: 16px !important;margin-bottom: 16px !important;}
.ak-my-4{    margin-top: 20px !important; margin-bottom: 20px !important;}
.ak-mx-0{    margin-right: 0 !important;margin-left: 0 !important;}
.ak-mx-1{    margin-right: 8px !important; margin-left: 8px !important;}
.ak-mx-2{    margin-right: 12px !important;margin-left: 12px !important;}
.ak-mx-3{    margin-right: 16px !important;margin-left: 16px !important;}
.ak-mx-4{    margin-right: 20px !important;margin-left: 20px !important;}
.ak-p-0{     padding: 0 !important; }
.ak-p-1{     padding: 8px !important; }
.ak-p-2{     padding: 12px !important; }
.ak-p-3{     padding: 16px !important; }
.ak-p-4{     padding: 20px !important; }
.ak-pt-0{    padding-top: 0px !important; }
.ak-pt-1{    padding-top: 8px !important; }
.ak-pt-2{    padding-top: 12px !important; }
.ak-pt-3{    padding-top: 16px !important; }
.ak-pt-4{    padding-top: 20px !important; }
.ak-pb-0{    padding-bottom: 0px !important; }
.ak-pb-1{    padding-bottom: 8px !important; }
.ak-pb-2{    padding-bottom: 12px !important; }
.ak-pb-3{    padding-bottom: 16px !important; }
.ak-pb-4{    padding-bottom: 20px !important; }
.ak-pr-0{    padding-right: 0px !important; }
.ak-pr-1{    padding-right: 8px !important; }
.ak-pr-2{    padding-right: 12px !important; }
.ak-pr-3{    padding-right: 16px !important; }
.ak-pr-4{    padding-right: 20px !important; }
.ak-pl-0{    padding-left: 0px !important; }
.ak-pl-1{    padding-left: 8px !important; }
.ak-pl-2{    padding-left: 12px !important; }
.ak-pl-3{    padding-left: 16px !important; }
.ak-pl-4{    padding-left: 20px !important; }
.ak-py-0{    padding-top: 0 !important;padding-bottom: 0 !important; }
.ak-py-1{    padding-top: 8px !important;padding-bottom: 8px !important; }
.ak-py-2{    padding-top: 12px !important;padding-bottom: 12px !important; }
.ak-py-3{    padding-top: 16px !important;padding-bottom: 16px !important;}
.ak-py-4{    padding-top: 20px !important; padding-bottom: 20px !important; }
.ak-px-0{    padding-right: 0 !important;padding-left: 0 !important; }
.ak-px-1{    padding-right: 8px !important;padding-left: 8px !important;}
.ak-px-2{    padding-right: 12px !important;padding-left: 12px !important; }
.ak-px-3{    padding-right: 16px !important;padding-left: 16px !important;}
.ak-px-4{    padding-right: 20px !important;padding-left: 20px !important; }
.ak-border-right-1{
    border-right: 1px solid #ddd;
}
.ak-flex-grow-1{
    flex-grow: 1;
}
.ak-flex-wrap{
    flex-wrap: wrap;
}

.ak-simple{
    border: none;
    background: none;
}
.ak-flex-column{
    flex-direction: column;
}
.ak-w-100{
    width: 100%;
}
.ak-form-control{
    border: 1px solid #ddd; 
    padding: 6px 4px;
    border-radius: 4px;
}  
.ak-form-control:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #777; 
}
.ak-form-control::placeholder{
    color: #999;
}

.ak-pos-relative {
    position: relative;
}
.ak-main img{
    max-width: 100%;
}

.ak-seller{
    display: flex;
}
.ak-seller-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 8px 12px;
}
.ak-seller-avatar-image{
    width: 80%;
    border: 2px solid #b3b3b3;
    border-radius: 4px;
    width: var(--avatar-width);
    height: var(--avatar-width);
}


/* RANGE STYLE */
.ak-rank-text{
    font-size: 1.4em;
}
.ak-level{
    width: 100%;
    padding: 8px ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.ak-level-range{
    position: relative;
    width: 100%;
}
.ak-level-text{
    margin: 12px 0;
    font-size: 1.4em; 
}
.ak-level-range >div{
    height: var(--range-height);
    border-radius: 16px;
    
}
.ak-level-range .range-base{
    background-color: #A6A6A6;
    width: 100%;
}
.ak-level-range .range-fill{
    background-color: var(--range-color);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.ak-seller-info{
    padding: 8px;
    font-size: 0.9em;
}
.ak-seller-info > *{
    margin: 8px 0;
}

.ak-level-title{
    width: 100%;
    text-align: end;
    padding-bottom: 4px;
}

.ak-point{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ak-xp {
    white-space: nowrap;
    margin: 0 8px;
}
.ak-point-level.ak-point-badge {
	white-space: nowrap;
	margin-left: 12px;
	color: red;
	background-color: #f2f3f7;
	padding: 4px 4px 0;
	border-radius: 4px;
}
.ak-seller .ak-points .ak-xp,
.ak-seller .ak-points .ak-point-level{
    margin-top: 20px;
}
.ak-seller-points{
    display: flex;
}
.ak-points {
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8em;
}
.ak-points .ak-level{
    width: 200px;
}
.ak-points .ak-level{
    margin-right: auto;
}

.ak-seller-abbr{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
/* Progress */
.ak-point-circle{
    height: 130px ;
    width: 130px;
    position: relative;
    margin: auto;
    background: #ebf3ff;
    border-radius: 50%;
}
.ak-point-circle-lg{
    height: 170px ;
    width: 170px;
    position: relative;
}
.ak-seller-abbr .ak-progress{
    position: absolute;
    top: 0;left: 0;;

}
.ak-progress{
    transform: rotate(-90deg); 
}
.ak-seller-abbr svg{
    pointer-events: none;
}
.ak-seller-abbr .ak-point{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15% 5%;
    height: 100%;
}
.ak-seller-abbr .ak-xp-lg{
    font-size: 2em;
    margin: -5px 0 -10px; /* Large font causes big space in bottom of element so we fix it in way*/
    display: flex;
    direction: ltr;
    align-items: stretch;
}
.ak-seller-abbr .ak-xp-lg > span{
    margin: 0 4px;
}
.ak-seller-abbr .ak-xp-lg > span.ak-xp-color{
    margin: 0 4px;
}
.ak-seller-abbr .ak-point-level{
    font-size: 1rem;
}
.ak-seller-abbr .ak-month-name,.ak-seller-abbr .ak-month-rank{
    font-size: 1rem;
}


.ak-menu-container {
    margin: 6px 0;
    display: flex;
    justify-content: flex-end;
}

.ak-menu-item{
    text-decoration: none;
    background-color: #eee;
    margin: 0 2px;
    padding: 4px 24px;
    color: #222;
    font-size: 12px;
    border-radius: 4px;
}
.ak-menu-item.ak-menu-item--active {
    background: transparent;
    border: 1px solid red;
}
.ak-section-title{
    font-size: 0.9rem;
}
 .ak-section-title--border-bottom{
    padding-bottom: 12px;
    border-bottom: 2px solid red;
}
.ak-new-review .ak-section-title +  span{
    font-size: 12px;
    padding-top: 2px;
}
.ak-new-review{
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
}
.ak-new-review-points {
    flex-wrap: wrap;
}
.ak-new-review-point{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}
.ak-new-review-point> span{
    white-space: nowrap;
    margin-left: 10px;
    font-size: var(--m-font-size);
    min-width: 50px;
    display: inline-block;
}
.ak-slider-widget{
    position: relative;
}
.ak-new-review .ak-seller-xp{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 16px ;
}
.ak-new-review-xp{
    color: #A00000;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px 2px;
    line-height: 32px;
    font-size: 18px;
    min-width: 120px;
    text-align: center;
}

.ak-btn-yellow{
    background: linear-gradient(0, #E1B553, rgb(247, 238, 214));
    border: 1px solid #ddd;
    width: 250px;
    padding: 4px 4px;
}
.ak-form-label{
    display: block;
    padding-bottom: 4px;
}
.ak-new-review-content{
    align-items: flex-end;
}
[name="new-review-title"]{
    width: 300px;
}
[name="new-review-text"]{
    font-size: 16px;
}

.ak-review-sender-image{
    width: 30px;
    height: 30px;
}
.ak-review-product{
    color: #267D8F;
}
.ak-review-point{
    border: 1px solid #ddd;
    padding: 4px 12px 4px 2px;
    
    margin-left: 3px;
    display: flex;
    justify-content: space-between;
}
.ak-badged .ak-review-point-value{
    color: red;
    text-align: center;
    border-radius: 50%;
    background: #ddd;
    width: 24px;
    height: 24px;
    margin-right: 4px;
}
.ak-review-xp{
    border: 1px solid red;
    padding: 4px 12px;
    color: red;
    background-color: #FFF4E7;
}
.ak-review-title {
    font-size: 18px;
}
.ak-review-title .ak-xp-value{
    padding-bottom: 4px;
    border-bottom: 2px solid red;
}
.ak-review-text{
    color: #555;
    text-align: justify;
    font-size: var(--m-font-size);
}
.ak-review-reviewers{
    color: #777;
    font-size: 14px;
}
.ak-review-useful{
    padding: 6px 8px;
    border:1px solid #ddd;
    background: linear-gradient(0, #ddd, #fff);
    cursor: pointer;
}
.ak-review-report{
    border: none;
    background: none;
    color: #777;
    border-right: 1px solid #ddd;
    margin-right: 12px;
    padding-right: 12px;
    cursor: pointer;
}
.ak-more-reviews-container{
    padding-top: 8px;
    margin-top: 24px;
    border-top: 1px solid #ddd;
}
.ak-more-reviews{
    background: none;
    border:none;
    font-size: 14px;
    cursor: pointer;
}
.ak-suggestion-carousel{
    font-size: var(--m-font-size);
}
.ak-suggestion-carousel, .ak-history-carousel{
    padding: 0 64px; 
}
.ak-suggestion-carousel .ak-suggest-text, .ak-rate, .ak-suggest-more{
    color: #007185;
}
.ak-suggest-more{
    font-size: 12px;
}
.ak-suggestion-carousel img{
    width: 70%;
    margin-right: 15%;;
}
.ak-xp-sliders .ak-seller-abbr{
    height: 300px;
}
.ak-xp-sliders {
    font-size: 12px;
}
.ak-xp-sliders .swiper{
    overflow-y: visible;
}
.ak-suggestion-carousel .swiper-button-prev{
    left: 0px;
    background: linear-gradient(0, #eee, #fff);
    border: 1px solid #ddd;
    min-width: 45px;
}
.ak-suggestion-carousel .swiper-button-prev:after,
.ak-suggestion-carousel .swiper-button-next:after{
    font-size: 18px;
    color: black;
    
    text-align: center;
}
.ak-suggestion-carousel .swiper-button-next{
    right: 0;
    background: linear-gradient(0, #eee, #fff);
    border: 1px solid #ddd;
    min-width: 45px;
}
.ak-suggest-price{
    color: #B12704;
    font-size: 22px;
    font-weight: 600;
    margin: 4px 0;
}
.ak-login-box {
	font-size: 12px;
	justify-content: flex-start;
	height: max-content;
}
.ak-best-seller-badge{
    min-height: 46px;
    margin-top: 6px;
}
.ak-badge {
    width: 90%;
	height: 24px;
	position: relative;
	background: var(--orange);
	text-align: left;
	direction: ltr;
	padding: 0 8px;
	color: white;
	font-weight: bold;
    border-radius: 4px 0 0 4px;
    
    line-height: 29px;
}
.ak-badge:after {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 10px solid white;
    border-top: 12px solid var(--orange);
    border-bottom: 12px solid var(--orange);
}

.ak-level-title{
    font-size: var(--m-font-size);
    text-align: center;
    font-weight: bolder;
    margin-bottom: 8px;
}
.ak-level-title--adjust-left{
    font-size: var(--m-font-size);
    text-align: left;
    width: 100%;
}
.ak-rank-item{
    font-size: 1.6em;
    color: #aaa;
    padding: 4px 0;
}
.ak-rank-item-current{
    font-size: 1.9em;
    color: #444;
}
.ak-rank-item-current .ak-rank-item-info{
    padding: 0 12px;
}
.ak-rank-item.ak-rank-item-current img{
    width: 60%;
}
.ak-rank-item img{
    width: 50%;
    border-radius: 50%;
    border: 1px solid #bbb;
}
.ak-rank-item h4{
    border-bottom: 1px solid #ddd;
}
.ak-rank-item-info{
    padding: 0 24px;
}

.ak-container-seller {
	background-image: url(/static/img/banner.png);
	position: relative;
	border-radius: 8px;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    font-size: 13px;
}
.ak-container-seller .ak-overlay{
    background: #fffd;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ak-container-seller *:not(.ak-overlay){
    z-index: 2;
}